<header class="page-header text-center">
  <h1>
    Welcome Room:
    <span class="room">{{ room.name }}</span>
  </h1>

  <p>Logged in as <code>{{ currentUser.username }}</code></p>
</header>


<div id="chat" data-room-id="{{ room.id }}">
  {{#each messages as |message| }}
    <p class="message">
      <span class="timestamp">{{ datetime message.createdAt }} -</span>
      <span class="username">{{ message.username }} -</span>
      <span class="body">{{ message.body }}</span>
    </p>
  {{/each }}
</div>


<form id="message-create">
  <div class="form-group">
    <input type="text" class="form-control" id="message" name="message" autofocus="true">
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary">
  </div>
</form>









